.widget.boxed.widget_mai_guides {
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.mai-guides-container .mai-guides,
.entry-content .mai-guides-container .mai-guides,
.sidebar .mai-guides-container .mai-guides {
	list-style-type: none;padding: 0;margin: 0;
}

.mai-guides-container .mai-guide,
.entry-content .mai-guides-container .mai-guide,
.sidebar .mai-guides-container .mai-guide {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	overflow: hidden;
}

.mai-guide__link {
	color: currentColor;
	padding: 16px;
}

/* .mai-guide__link:hover,
.mai-guide__link:focus {
	opacity: .8;
} */

.mai-guide__title  {
	/* margin-top: 16px; */
}

.mai-guide__img {
	display: block;
	/* max-width: 40px; */
}

.mai-guide-main .mai-guide__link {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.mai-guide__link:hover,
.mai-guide__link:focus,
.mai-current-guide .mai-guide__link {
	background-color: rgba(114, 51, 51, 0.06);
}
