.widget.boxed.widget_mai_guides {
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.06);
}

.mai-guides-container .mai-guides,
.entry-content .mai-guides-container .mai-guides,
.sidebar .mai-guides-container .mai-guides {
	list-style-type: none;padding: 0;margin: 0;
}

.mai-guides-container .mai-guide,
.entry-content .mai-guides-container .mai-guide,
.sidebar .mai-guides-container .mai-guide {
	margin-bottom: 0;
}

.mai-guide .mai-guide__link {
	position: relative;
	display: block;
	color: currentColor;
	padding: 10px 16px 10px 18px;
}

.mai-guide .mai-guide__link::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
}

.mai-guide__link:hover,
.mai-guide__link:focus,
.mai-current-guide .mai-guide__link {
	background-color: #f8f8f8;
}

.mai-current-guide .mai-guide__link::before {
	background-color: rgba(0, 0, 0, 0.04);
}

.mai-guide__title h4 {
	font-size: 1.1rem;
}

.mai-guide__img {
	display: block;
	max-width: 40px;
}

.mai-guide-main .mai-guide__link {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.mai-guide__link svg {
	width: 24px;
	margin: 0 12px;
}
