.widget_mai_guides,
.widget.boxed.widget_mai_guides {
	padding: 0;
	border: none;
}

.entry-content .mai-guides-container {
	margin-bottom: 36px;
	border: 1px solid #f0f0f0;
}

.mai-guides-container .mai-guides,
.entry-content .mai-guides-container .mai-guides,
.sidebar .mai-guides-container .mai-guides {
	list-style: none !important;
	padding: 0;
	margin: 0;
}

.mai-guide__heading {
	padding: 12px 20px;
}

.mai-guide__icon svg {
	width: 100%;
	max-width: 24px;
	color: rgba(0, 0, 0, 0.6);
}

.mai-guide__heading .mai-guide__title > * {
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.mai-guides-container .mai-guide,
.entry-content .mai-guides-container .mai-guide,
.sidebar .mai-guides-container .mai-guide {
	list-style: none !important;
	text-indent: 0;
	padding: 0;
	margin: 0;
}

.mai-guide .mai-guide__link {
	position: relative;
	display: block;
	color: currentColor;
	text-decoration: none;
	padding: 10px 16px 10px 18px;
	border-top: 1px solid #f0f0f0;
}

.mai-guide .mai-guide__link::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
}

.mai-guide__link:hover,
.mai-guide__link:focus,
.mai-current-guide .mai-guide__link {
	background-color: #f8f8f8;
}

.mai-current-guide .mai-guide__link::before {
	background-color: rgba(0, 0, 0, 0.04);
}

.mai-guide__count {
	min-width: 16px;
	text-align: center;
}

.mai-guide__img {
	display: block;
	max-width: 40px;
}

.mai-guide__title > * {
	font-size: 1.1rem;
}
